.header_bg,
.header_no_bg {
  padding: 50px 100px;
}

.header_bg {
  height: 400px;
  background-image: url('/assets/bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.header_no_bg {
  & * {
    color: #000;
  }
  & button span {
    background: #000;
  }
}

.container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container * {
  flex-shrink: 0;
}

@media (max-width: 1000px) {
  .header_bg,
  .header_no_bg {
    padding: 50px;
  }
  .header_bg {
    height: 370px;
  }
}

@media (max-width: 768px) {
  .header_bg,
  .header_no_bg {
    padding: 20px 30px;
  }
  .header_bg {
    height: 320px;
  }
  .logo {
    width: 170px;
  }
}
