.header {
  padding: 50px 100px;
  height: 400px;

  background-image: url('./bg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container * {
  flex-shrink: 0;
}
