.buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;

  & button a {
    display: flex;
    align-items: center;
  }

  & button:first-child img {
    transform: rotateY(180deg);
  }

  & span {
    margin: 0 13px;
  }

  & button:hover div {
    transform: rotate(360deg);
  }
}

.iconWrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 50%;
  background-color: var(--green);
  width: 45px;
  height: 45px;
  padding: 0 13px;
  transition: transform 0.4s ease-in-out;
}

@media (max-width: 1222px) {
  .buttons {
    padding: 0 20px;
    margin-bottom: 70px;
    & span {
      margin: 0 8px;
      font-size: 0.9em;
    }
  }

  .iconWrap {
    width: 40px;
    height: 40px;
    padding: 0 13px;
  }
}
