.workPage {
  padding: 80px 50px;
  background-color: var(--white-bg);
  & h1 {
    top: 235px;
  }
}

.workList {
  display: flex;
  flex-wrap: wrap;
  & > div {
    flex-basis: 50%;
    padding: 0 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1000px) {
  .workPage {
    padding: 40px 20px;
    & h1 {
      top: 200px;
    }
  }

  .workList {
    & > div {
      flex-basis: 50%;
      padding: 0 10px;
    }
  }
}

@media (max-width: 768px) {
  .workList {
    & > div {
      flex-basis: 100%;
    }
  }
}
