.footer {
  padding: 120px 20px 0;
  height: 400px;
  background-color: #262626;
  color: #f1f1f1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  justify-content: space-between;

  & p {
    font-weight: bold;
  }
}

.container * {
  flex-shrink: 0;
}

.email {
  & ul {
    margin-top: 35px;
  }
}

@media (max-width: 1000px) {
  .footer {
    padding: 80px 30px;
    height: auto;
    font-size: 0.8em;
  }
}

@media (max-width: 768px) {
  .footer {
    padding: 50px 15px;
    text-align: center;
  }

  .container {
    flex-direction: column;

    & > li + li {
      margin-top: 30px;
    }

    & > li:first-child img {
      margin: 0 auto;
      width: 30px;
    }

    & > li:last-child p {
      display: none;
    }
  }

  .email {
    & ul {
      margin-top: 15px;
      justify-content: center;
    }
  }
}
