.aboutPage {
  padding: 100px 50px;
}

.container {
  & h2 {
    font-size: 1.8rem;
    line-height: 1.4;
    letter-spacing: 0.8px;
    margin-bottom: 30px;
    color: #50129e;
  }

  & p {
    margin-bottom: 30px;
  }

  & p b {
    color: #50129e;
  }

  & img {
    max-width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
