@import url('https://use.typekit.net/doo2idm.css');

:root {
  --green: #1bc0b7;
  --blue: #2496d5;
  --purple: #50129e;
  --white-bg: #f7f7f7;

  --color-bg1: #50129e;
  --color-bg2: #2c035f;
  --color1: 27, 192, 183;
  --color2: 40, 184, 176;
  --color3: 15, 118, 174;
  --color4: 36, 150, 213;
  --color5: 27, 192, 183;
  --color-interactive: 36, 150, 213;
  --circle-size: 80%;
  --blending: hard-light;
}

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 18px;
  font-family: 'montserrat', -apple-system, sans-serif;
  font-weight: 500;
  font-style: normal;
  line-height: 1.5;
  overflow-x: hidden;
  background-color: #fff;
}

.maxWidth {
  max-width: 1200px;
  margin: 0 auto;
}

.noScroll {
  height: 100dvh;
  overflow-y: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 100%;
  font-weight: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: transparent;
  border: none;
  cursor: pointer;
}

.neue-r {
  font-family: 'neue-kabel', sans-serif;
  font-weight: 400;
}

.neue-m {
  font-family: 'neue-kabel', sans-serif;
  font-weight: 600;
}

.neue-b {
  font-family: 'neue-kabel', sans-serif;
  font-weight: 700;
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: linear-gradient(0deg, var(--purple) 0%, var(--green) 100%);
}

@media screen and (max-width: 1230px) {
  .container {
    padding: 0 15px;
  }
}

@media screen and (max-width: 1230px) {
  html,
  body {
    font-size: 16px;
  }
}
