.homePage {
  width: 100%;
}

.tagline {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  font-size: 3.4rem;
  color: #fff;
  z-index: 99;
}

.line2 {
  display: flex;
}

.typingBox {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 1.5px solid #fff;
  border-radius: 80px;
  margin-right: 23px;
  width: 400px;
  height: 90px;
  padding: 0 40px;

  & > div {
    position: absolute;
    margin-top: -3px;
  }
}

.temp {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  opacity: 0.8;
  z-index: 100;

  & > img {
    object-fit: contain;
    cursor: pointer;
  }
}

.scrollIcon {
}

.workSection {
  padding: 70px 20px 120px;
  & h3 {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 0 auto 50px;
  }
}

@media (max-width: 1300px) {
  .workSection {
    & h3 {
      max-width: 1000px;
    }
  }
}

@media (max-width: 1230px) {
  .tagline {
    font-size: 3.2rem;
  }
  .typingBox {
    width: 360px;
    height: 78px;
    & > div {
      margin-top: 0;
    }
  }
}

@media (max-width: 1000px) {
  .tagline {
    font-size: 2.5rem;
  }
  .typingBox {
    width: 275px;
    height: 60px;
    padding: 0 30px;
    & > div {
      margin-top: -2px;
    }
  }
}

@media (max-width: 768px) {
  .tagline {
    flex-direction: column;
    row-gap: 7px;
    font-size: 1.9rem;
    margin-top: -40px;
    padding: 0 20px;
    font-weight: bold;
  }
  .typingBox {
    width: 210px;
    height: 50px;
    padding: 0 25px;
    margin-right: 10px;
    font-weight: bold;
  }
  .workSection {
    padding: 70px 15px 80px;
    & h3 {
      margin-bottom: 30px;
    }
  }
}
