.homePage {
  width: 100%;
}

.tagline {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
  font-size: 3.8rem;
  color: #fff;
  z-index: 100;
}

.line2 {
  display: flex;
}

.typingBox {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: 1.5px solid #fff;
  border-radius: 80px;
  margin-right: 23px;
  width: 450px;
  height: 100px;
  padding: 0 42px;

  & > div {
    position: absolute;
    margin-top: -4px;
  }
}

.linebreak {
  display: none;
}

.workSection {
  padding: 70px 20px 120px;
  & h3 {
    font-size: 1.3em;
    max-width: 1200px;
    margin: 0 auto 50px;
  }
}

@media (max-width: 1350px) {
  .tagline {
    font-size: 3.4rem;
  }
  .typingBox {
    margin-right: 18px;
    width: 400px;
    height: 90px;
    padding: 0 40px;
    & > div {
      margin-top: -3px;
    }
  }
  .workSection {
    & h3 {
      max-width: 1000px;
    }
  }
}

@media (max-width: 1230px) {
  .tagline {
    font-size: 3.2rem;
  }
  .typingBox {
    width: 360px;
    height: 78px;
    & > div {
      margin-top: 0;
    }
  }
}

@media (max-width: 1000px) {
  .tagline {
    font-size: 2.5rem;
  }
  .typingBox {
    width: 275px;
    height: 60px;
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .tagline {
    flex-direction: column;
    row-gap: 10px;
    font-size: 2rem;
    margin-top: -10px;
  }
  .typingBox {
    width: 225px;
    height: 53px;
    padding: 0 25px;
    margin-right: 10px;
  }
  .workSection {
    padding: 50px 20px 80px;
  }
}
