.aboutPage {
  padding: 100px 50px;
}

.container {
  & h2 {
    font-size: 1.8em;
    line-height: 1.4;
    letter-spacing: 0.8px;
    margin-bottom: 30px;
    color: var(--purple);
  }

  & p {
    margin-bottom: 30px;
  }

  & p b {
    color: var(--purple);
  }

  & img {
    max-width: 100vw;
    margin-left: calc((100% - 100vw) / 2);
    margin-top: 80px;
    margin-bottom: 80px;
  }
}

@media (max-width: 1000px) {
  .aboutPage {
    padding: 60px 30px;
  }
}

@media (max-width: 768px) {
  .aboutPage {
    padding: 40px 15px;
  }
  .container {
    & h2 {
      font-size: 1.3em;
      margin-bottom: 20px;
    }
    & p {
      margin-bottom: 20px;
    }
    & img {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
  .divider {
    display: none;
  }
}
