.subPage {
  padding: 40px 20px 100px;
}

.video {
  height: auto;
  background: #fafafa;
  margin-bottom: 40px;
}

.title {
  font-weight: bold;
  margin-bottom: 50px;

  & span {
    font-size: 0.9em;
  }

  & h3 {
    font-size: 1.3em;
    color: var(--purple);
  }
}

.description {
  & h4 {
    font-size: 1.15em;
    font-weight: bold;
  }

  & > div + div {
    margin-top: 50px;
  }

  & p + p {
    margin-top: 20px;
  }

  & img {
    margin: 0 auto;
  }
}

.flex {
  display: flex;
}

.flex30 {
  flex-basis: 30%;
}

.flex40 {
  flex-basis: 40%;
}

.flex50 {
  flex-basis: 50%;
}

/* page custom css */

.page00 img[data-id='0'] {
  margin-top: -30px;
}

.page00 img[data-id='1'],
.page00 img[data-id='2'] {
  min-width: 0;
  margin-right: 30px;
  border: 1px solid #eaeaea;
}

.page00 img[data-id='3'],
.page00 img[data-id='4'] {
  width: 80%;
}

.page02 img,
.page03 img {
  margin-top: 50px;
}

.page04 img {
  margin-top: -50px;
}

@media (max-width: 1000px) {
  .subPage {
    padding: 30px 15px 60px;
  }
}

@media (max-width: 768px) {
  .subPage {
    padding-top: 10px;
  }

  .title {
    margin-bottom: 20px;
    & span {
      font-size: 0.9em;
    }
    & h3 {
      font-size: 1.3em;
    }
  }

  .description {
    & h4 {
      font-size: 1.1em;
    }

    & > div + div {
      margin-top: 25px;
    }

    & p + p {
      margin-top: 15px;
    }
  }
  .flex {
    flex-direction: column;
  }

  /* page custom css */
  .page00 img[data-id='0'],
  .page04 img {
    margin-top: 10px;
  }
  .page00 img[data-id='1'],
  .page00 img[data-id='2'] {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .page00 img[data-id='3'],
  .page00 img[data-id='4'] {
    width: 100%;
  }
  .page02 img,
  .page03 img {
    margin-top: 0;
  }
}
