.headline {
  position: absolute;
  top: 155px;
  left: 100px;

  font-size: 2.2rem;
  color: #fff;
}

.textWrapper {
  display: flex;
  align-items: center;
}

.typingBox {
  position: relative;
  padding: 0 28px;
  background: rgba(255, 255, 255, 0.2);
  border: 1.5px solid #fff;
  border-radius: 50px;
  height: 58px;
  margin-right: 15px;

  & > div {
    position: absolute;
    top: -3px;
  }
}

@media (max-width: 1000px) {
  .headline {
    left: 30px;
    top: 140px;
  }
}

@media (max-width: 768px) {
  .headline {
    font-size: 1.4em;
  }
  .typingBox {
    height: 45px;
    width: 170px !important;
    padding: 0 20px;

    & > div {
      top: 3px;
    }
  }
}
